#%RAML 0.8
title: Paubox Secure Email API
version: 1.0.2
baseUri: https://www.paubox.net/v1
/{username}/messages:
  description: mail sending API
  post:
    headers:
      Authorization:
        displayName: authorization
        description: Basic authentication base 64 encoded string
        type: string
        required: true
        example: |
          description: "Token token= <API_KEY>"
      Content-Type:
        displayName: content-type
        required: true
        description: JSON
        type: string
    body:
      application/json:
        example: |
          {
              "data": {
                "message": {
                  "recipients": [
                    "recipient@host.com",
                    "Recipient Name <recipient2@host.com>"
                    ],
                  "bcc": [
                    "recipient3@host.com",
                    "Recipient Name <recipient4@host.com>"
                   ],
                 "headers": {
                  "subject": "sample email",
                  "from": "sender@authorized_domain.com",
                  "reply-to": "Sender Name <sender@authorized_domain.com>"
                },
               "allowNonTLS": false,
               "content": {
                "text/plain": "Hello World!",
               "text/html": "<html><body><h1>Hello World!</h1></body></html>"
                },
              "attachments": [{
              "fileName": "hello_world.txt",
              "contentType": "text/plain",
              "content": "SGVsbG8gV29ybGQh\n"
              }]
            }
          }
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
               "sourceTrackingId": "3d38ab13-0af8-4028-bd45-52e882e0d584",
                "data": "Service OK"
              }
      400:
        body:
          application/json:
            example: |
              {
                "errors": [
                  {
                    "code": 400,
                    "title": "Error Title",
                    "details": "Description of error"
                  }]
              }

/{username}/message_receipt:
  description: Get email disposition with your tracking ID 
  get:
    headers:
      Authorization:
        displayName: authorization
        description: Basic authentication base 64 encoded string
        type: string
        required: true
        example: |
          description: "Token token= <API_KEY>"
      Content-Type:
        displayName: content-type
        required: true
        description: JSON
        type: string
    queryParameters:
      sourceTrackingId: 
        displayName: sourceTrackingId
        type: string
        required: true
        description: message's sourceTrackingId
        example: "6e1cf9a4-7bde-4834-8200-ed424b50c8a7"
    responses:
      200:
        body:
          application/json:
            example: 
              {
              "sourceTrackingId": "6e1cf9a4-7bde-4834-8200-ed424b50c8a7",
              "data": {
                  "message": {
                    "id": "<f4a9b518-439c-497d-b87f-dfc9cc19194b@authorized_domain.com>",
                    "message_deliveries": [
                    {
                      "recipient": "recipient@host.com",
                      "status": {
                      "deliveryStatus": "delivered",
                      "deliveryTime": "Mon, 23 Apr 2018 13:27:34 -0700",
                      "openedStatus": "opened",
                      "openedTime": "Mon, 23 Apr 2018 13:27:51 -0700"
                      }
                    }]
                  }
                }
              }
      404:
        body:
          application/json:
            example: |
              {
                "errors": [
                {
                  "code": 404,
                  "title": "Message was not found",
                  "details": "Message with this tracking id was not found"
                }],
              "sourceTrackingId": "6e1cf9a4-7bde-4834-8d200-ed424b50c8a7"
              }
